<h2>List of Customer-Vehicles:</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <th>ID: </th>
            <th>Created by: </th>
            <th>Date created: </th>
            <th>Vehicle: </th>
            <th>Customer: </th>
            <th> </th>
        </thead>
        <tbody>
            <tr *ngFor="let customerVehicle of customersVehicles; let i = index">
                <td>{{ customerVehicle.id }}</td>
                <td>{{ customerVehicle.created_by }}</td>
                <td>{{ customerVehicle.date_created }}</td>
                <td>{{ customerVehicle.id_vehicle }}</td>
                <td>{{ customerVehicle.id_customer }}</td>
                <td>
                    <button (click)="select(i)">Edit</button><br/>
                    <button (click)="delete(i)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h2>Selected Customer-Vehicle: </h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <th></th>
            <th></th>
        </thead>
        <tr>
            <td>ID: </td>
            <td><input type="number" [(ngModel)]="selectedCustomerVehicle.id" disabled></td>
        </tr>
        <tr>
            <td>Created by: </td>
            <td><input type="number" [(ngModel)]="selectedCustomerVehicle.created_by" disabled></td>
        </tr>
        <tr>
            <td>Date Created: </td>
            <td><input type="text" [(ngModel)]="selectedCustomerVehicle.date_created" disabled></td>
        </tr>
        <tr>
            <td>Vehicle: </td>
            <td><input type="number" [(ngModel)]="selectedCustomerVehicle.id_vehicle" ></td>
        </tr>
        <tr>
            <td>Customer: </td>
            <td><input type="number" [(ngModel)]="selectedCustomerVehicle.id_customer" ></td>
        </tr>
        <tr>
            <td></td>
            <td><button (click)="insert()">Insert</button> &nbsp;  <button (click)="update()">Update</button></td>
        </tr>
    </table>
</div>