<h2> About: </h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td><h6>Company: </h6></td>
                <td>{{company}}</td>
            </tr>
            <tr>
                <td><h6>Description: </h6> </td>
                <td>{{decription}}</td>
            </tr>
            <tr>
                <td><h6>Objectives:</h6>  </td>
                <td>{{objectives}}</td>
            </tr>
            <tr>
                <td><h6>Employees:</h6>  </td>
                <td>{{employees}}</td>
            </tr>
        </tbody>
    </table>
</div>
<h2>{{ msjFromOtherComponents }}</h2>
