<div>
    <table class="fl-table">
        <thead>
            <th><a [routerLink]="['.']">Home</a></th>
            <th><a [routerLink]="['/customers']" >Customers</a></th> <!--(CusVehMsj)="reciveInfo($event)"-->
            <th><a [routerLink]="['/vehicles']">Vehicles</a></th>
            <th><a [routerLink]="['/customervehicle']">Customer-Vehicle</a></th>
            <th><a [routerLink]="['/about', {mode: msj}]">About</a></th>
        </thead>
    </table>
</div>

<router-outlet></router-outlet>